<%= component_tag do %>
  <h1><%= title %></h1>

  <%= form_with url: form_url, method: :get, local: true do |f| %>
    <div class="flex">
      <%= f.text_field :q,
        value: nil,
        placeholder: placeholder,
        autofocus: true,
        autocomplete: "off",
        data: {
          action: "input->search-page#onInput",
          search_page_target: "input"
        } %>
      <%= f.submit submit_text, name: nil %>
    </div>
  <% end %>

  <div class="search-page-query-container" data-search-page-target="queryContainer">
    Results for "<span data-search-page-target="query"></span>"
  </div>

  <div data-search-page-target="results"></div>

  <div data-search-page-target="emptyResults" class="search-page-no-results hidden">
    <span><%= empty_results_text %></span>
  </div>

  <div data-search-page-target="loading" class="search-page-loading hidden">
    <%= render loading if loading? %>
  </div>

  <%# Template for rendering search results %>
  <template data-search-page-target="resultTemplate">
    <a class="search-page-result-item" data-result-url="" data-result-title="" data-result-description="">
      <div class="search-result-title"></div>
      <div class="search-result-description"></div>
    </a>
  </template>
<% end %>
