<% layout.head.title = ["Dropdowns", "Controls"] %>
<% layout.subheader.breadcrumbs.build("Dropdowns") %>

<section>
  <h1 class="typography-h1">Dropdowns</h1>
  <p class="typography-body">Dropdown components with various styles and states using the theme.</p>

  <div class="demo-section">
    <%= demo_section_header "ViewComponent API" %>
    <p class="demo-description"><%= link_to "ViewComponent Slots", "https://viewcomponent.org/guide/slots.html", class: "typography-link" %> provide more control over the dropdown menu.</p>
    <%= demo_code do %>
      <%= render new_outline_warning_dropdown do |d| %>
        <% d.with_button do %>
          <code>My Button</code> <%= icon("info", class: "inline") %>
        <% end %>

        <% d.with_menu do %>
          <p>This is some HTML content in the menu.</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

</section>
