<div data-controller="dropdown" class="<%= css_class %>">
  <button data-action="click->dropdown#toggle" class="header-btn cursor-pointer">
    <%= name %> <%= render icon %>
  </button>
  <div data-dropdown-target="content" class="hidden header-dropdown<%= " header-dropdown-right" if align_right? %>">
    <%= render items %>
  </div>
</div>
