<%= component_tag :div, class: "header-search relative", data: { controller: "search", search_path_value: search_path } do %>
  <%= render search_icon %>
  <input
    type="text"
    placeholder="<%= placeholder %>"
    data-search-target="input"
    data-action="input->search#onInput"
  />

  <span data-search-target="shortcutHint" class="search-shortcut-hint"><%= shortcut_hint %></span>
  <button data-search-target="closeButton" data-action="click->search#closeDropdown" class="search-close-btn hidden" title="<%= close_title %>">
    <%= render close_icon %>
  </button>

  <div data-search-target="dropdown" class="search-dropdown hidden">
    <div data-search-target="loading" class="search-loading hidden">
      <%= loading || capture do %>
        <%= render loading_icon %>
        <%= loading_text %>
      <% end %>
    </div>

    <div data-search-target="error" class="search-error hidden">
      <%= error || error_text %>
    </div>

    <div data-search-target="results"></div>
  </div>
<% end %>
