<!DOCTYPE html>
<html>
  <%= head %>
  <%= component_tag tag_name: :body do %>
    <%= render header %>
    <%= render subheader %>

    <div class="main">
      <%= render sidebars %>

      <%# HACK: make this configurable and move it into table_of_contents_helper %>
      <main class="content" data-scrollspy-target="content" data-action="scroll->scrollspy#onScroll">
        <%= layout_content %>
      </main>
    </div>

    <%= render footer %>
  <% end %>
</html>
