<!DOCTYPE html>
<html>
  <%= head %>
  <%= component_tag tag_name: :body do %>
    <%= render header %>
    <%= render subheader %>

    <div class="main">
      <%= render sidebars %>

      <main class="content">
        <%= layout_content %>
      </main>
    </div>

    <%= render footer %>
  <% end %>
</html>
