<div id="<%= id %>" data-controller="datatable">
  <div class="datatable-header">
    <% if respond_to?(:skip_bulk_actions?) && !skip_bulk_actions? %>
      <div class="datatable-bulk-actions-select-container">
        <%= bulk_actions_select_tag class: "datatable-select" %>
        <%= bulk_actions_submit_tag class: "datatable-button" %>
      </div>
    <% end %>

    <div class="datatable-header-actions">
      <%= search_field_form(class: "datatable-search-form") do %>
        <%= search_field_tag class: "datatable-search-input" %>
      <% end unless skip_search? %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <% if respond_to?(:skip_bulk_actions?) && !skip_bulk_actions? %>
            <th scope="col">
              <span><%= bulk_actions_select_all_check_box_tag %></span>
            </th>
          <% end %>
          <% columns.each do |column| %>
            <th scope="col">
              <%= column_label column %>
            </th>
          <% end %>
          <%# <th scope="col" class="admin-table-header-actions">Actions</th> %>
        </tr>
      </thead>
      <tbody>
        <% records.each do |record| %>
          <tr id="<%= dom_id record %>">
            <% if respond_to?(:skip_bulk_actions?) && !skip_bulk_actions? %>
              <td>
                <%= bulk_actions_select_one_check_box_tag record %>
              </td>
            <% end %>
            <% columns.each do |column| %>
              <td>
                <%= column_cell_html(record, column) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if records.none? %>
      <p class="datatable-empty-message"><%= empty_message %></p>
    <% end %>
  </div>

  <% unless only_ever_one_page? && skip_export? %>
    <div class="datatable-footer">
      <% if only_ever_one_page? %>
        <div></div>
      <% else %>
        <label>
          Per Page:
          <%= per_page_select_tag class: "datatable-select datatable-per-page-select" %>
        </label>
        <div class="datatable-paginate">
          <%= pagination_links %>
        </div>
      <% end %>
      <% unless skip_export? %>
        <div class="datatable-exports">
          Download:
          <% export_formats.each do |format| %>
            <%= link_to t("export.formats.#{format}"), table_path(format:), class: "badge-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
